n8n_assets/Add_Documents_Workflow.json
{
  "name": "Add_Documents_Workflow",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "8d57aeda-8b82-443b-9d7d-9e708e950c86",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3120,
        960
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 80,
        "width": 3537,
        "color": 5
      },
      "id": "d950c3b3-79da-40d4-a0ba-178d1687be62",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5d7e285c-1d69-42b0-9984-e3d5d9ed59c5",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        304
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1icx99G8AhT9Q9sqPzDTkfSm2ymxgaOJn",
          "mode": "list",
          "cachedResultName": "RAG_COMPTABLE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1icx99G8AhT9Q9sqPzDTkfSm2ymxgaOJn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "439cd9ce-ea3a-4060-b1a5-6564d2c2e62f",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1icx99G8AhT9Q9sqPzDTkfSm2ymxgaOJn",
          "mode": "list",
          "cachedResultName": "RAG_COMPTABLE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1icx99G8AhT9Q9sqPzDTkfSm2ymxgaOJn"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "314bde43-91d5-44ce-8053-6673cbb3e8c9",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "27e1e542-283a-49aa-9231-d65c1dcf2133",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "65c872a9-25a0-4e9b-bc10-36fd089dd465",
              "name": "table_name",
              "value": "={{ $json.table_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c8fdf4c3-94a1-4790-a242-a9f060bd39aa",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f46372a2-0293-4494-8881-c4cee730b595",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2496,
        112
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "e663adf9-cbaa-4dd0-bcc1-36c8454c219e",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2704,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5fe78f9b-2ff3-4adc-954e-53bfce35c142"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "21e02970-ea2d-4e7d-94db-d726b0d1327c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1536,
        272
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "efd4b00a-e98b-4126-887d-51319cec002b",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2048,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        192
      ],
      "id": "5c5c7f28-2c73-4a82-b0cf-494efcb397fd",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2048,
        288
      ],
      "id": "b2d50b33-d139-4190-b9ae-d67c51eb355d",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        144
      ],
      "id": "390ad1e5-ed02-4012-94af-fad9c8fe5e7b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1184,
        160
      ],
      "id": "abf2d390-bc05-4f24-a02e-19bdef00dc1c",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transaction_rows",
          "mode": "list",
          "cachedResultName": "transaction_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_row_id": "={{ $('Set File ID').item.json.file_id }}",
            "transaction_row_content": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transaction_row_id",
              "displayName": "transaction_row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transaction_row_content",
              "displayName": "transaction_row_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3200,
        400
      ],
      "id": "9b2cd155-4811-4c5e-8f07-fe9f5cde4f51",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3200,
        192
      ],
      "id": "d9a913dd-41c6-49ed-a850-9c8d46f4be70",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_comptable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2992,
        704
      ],
      "id": "251428f2-a3fa-4b29-bd81-e801686f8b29",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nDECLARE\n    _file_id   text := $1;           -- valeur du fichier (filter)\n    _table_name text := $2;         -- nom de la table (dynamic)\nBEGIN\n    /*  Vérifie que la table existe dans le schéma courant  */\n    IF EXISTS (\n        SELECT 1\n        FROM   information_schema.tables\n        WHERE  table_name = _table_name\n        AND    table_schema = current_schema()\n   ) THEN\n\n        /*  Constructeur SAFE “DELETE …”  */\n        EXECUTE format(\n                     'DELETE FROM %I\n                      WHERE metadata->>''file_id'' ~~ %L',\n                     _table_name,          -- %I = identifiant (quoted)\n                     '%%' || _file_id || '%%'   -- %L = string quoted\n                 );\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "=[{{ $json.file_id }}, {{ $json.table_name }}]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        160
      ],
      "id": "a85bb747-5bbc-4971-ad15-5cb7813e6b10",
      "name": "Delete Old Data Rows",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM transaction_rows\nWHERE transaction_row_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        320
      ],
      "id": "8915702a-8d38-4aef-8f6f-aa990cfc97ec",
      "name": "Delete Old Doc Rows",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3200,
        1104
      ],
      "id": "6d2e7ba6-9ee5-42fc-8bb0-4ab4a269ca61",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2928,
        960
      ],
      "id": "ebc772be-9d3b-460c-926b-b0ed4678dd63",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "XQFqtl8LCFDuPN8q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mise à jour des informations des documents.",
        "height": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        16
      ],
      "id": "63086588-4b8d-42c3-b257-e2c327d57dde",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Stockage des documents dans la table vectorielle (documents_comptable).",
        "height": 672,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        592
      ],
      "id": "aae85c09-e442-498f-9b6d-e103444ebeaa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vspx9uBSqzgNXLYV",
          "mode": "list",
          "cachedResultUrl": "/workflow/Vspx9uBSqzgNXLYV",
          "cachedResultName": "Docling_Chunker_Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2064,
        656
      ],
      "id": "4d874ca8-c9a6-4497-b55c-99cee9d7d591",
      "name": "Call 'Docling_Chunker_Tool'"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "2adcdb86-4b5d-4d0f-a7e7-0974ed1e82af",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3120,
        1712
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_exploitation",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2992,
        1456
      ],
      "id": "7e7bdd4b-ef33-4ae3-a39f-650fe8022d55",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3200,
        1856
      ],
      "id": "d07dba73-dec7-4071-a224-6ade4390d93f",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2928,
        1712
      ],
      "id": "afa1229f-a6b1-416b-bdba-6629b447ede9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "XQFqtl8LCFDuPN8q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Stockage des documents dans la table vectorielle (documents_exploitation).",
        "height": 672,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        1328
      ],
      "id": "766be644-003f-449f-a787-3cd8571c224d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "2f6f841c-e10c-4ad0-807f-964b020573bf",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3120,
        2448
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_transaction",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2992,
        2192
      ],
      "id": "3ac8e696-1035-4a49-88c5-5b5d105a9a2d",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3200,
        2592
      ],
      "id": "52ff07e7-b337-461f-ac64-93d076ba43c3",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2928,
        2448
      ],
      "id": "77c3ebcf-d916-48be-b9ba-e06781ba4fd5",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "XQFqtl8LCFDuPN8q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Stockage des documents dans la table vectorielle (documents_transaction).",
        "height": 672,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        2064
      ],
      "id": "24e532f6-9d38-4f63-b4b7-8eab7270c461",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.from }}",
                    "rightValue": "comptable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ed9064c8-015c-4a4e-a002-12f1a99af68b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08705fd6-8dc4-4c1f-ac54-79c7e2502960",
                    "leftValue": "={{ $('Set File ID').item.json.from }}",
                    "rightValue": "exploitation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fed5e77b-4cea-4e6d-9502-10489dc55345",
                    "leftValue": "={{ $('Set File ID').item.json.from }}",
                    "rightValue": "transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2320,
        640
      ],
      "id": "e6e8b39b-124b-46ea-ac26-faaa78552a5d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KtGfSqKGLeFyKkbmBGQRzcLA8ThTeqLC",
          "mode": "list",
          "cachedResultName": "RAG_EXPLOITATION",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KtGfSqKGLeFyKkbmBGQRzcLA8ThTeqLC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "ce6b751d-1af3-439e-864c-221e6785cfb5",
      "name": "File Created1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KtGfSqKGLeFyKkbmBGQRzcLA8ThTeqLC",
          "mode": "list",
          "cachedResultName": "RAG_EXPLOITATION",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KtGfSqKGLeFyKkbmBGQRzcLA8ThTeqLC"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "fef20fd4-126e-482d-b4df-e25e44e85f8e",
      "name": "File Updated1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        752
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mNs9cgw4M9pbHvWMSCUJ3kAXSVCV5h28",
          "mode": "list",
          "cachedResultName": "RAG_TRANSACTION",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mNs9cgw4M9pbHvWMSCUJ3kAXSVCV5h28"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "507d4d1f-564b-47fd-a927-86dc650a1bbd",
      "name": "File Created2",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        1024
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1mNs9cgw4M9pbHvWMSCUJ3kAXSVCV5h28",
          "mode": "list",
          "cachedResultName": "RAG_TRANSACTION",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mNs9cgw4M9pbHvWMSCUJ3kAXSVCV5h28"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "e02eb9e7-e6ec-41e6-8a78-c5f394117015",
      "name": "File Updated2",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        1184
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "klCCveMAJv4VlHak",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Comptable folder",
        "height": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        112
      ],
      "id": "62f16a5b-3514-46cb-917f-8fbce7d7d665",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Exploitation folder",
        "height": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        544
      ],
      "id": "16271f2a-d09d-462f-8d8e-3bdd38e370a8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Transactions folder",
        "height": 352,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        976
      ],
      "id": "2edd8660-d1cf-4d4e-aa6e-ebc85ded5da7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a205a91a-67ba-4c6c-a531-372433176593",
              "name": "from",
              "value": "comptable",
              "type": "string"
            },
            {
              "id": "6f336894-9dad-4be7-816f-8cd9403140c7",
              "name": "table_name",
              "value": "documents_comptable",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        160
      ],
      "id": "1d390b95-e4a0-40a5-919e-cc124266e90b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80d8832f-207f-49cc-9095-5043883f23c8",
              "name": "from",
              "value": "exploitation",
              "type": "string"
            },
            {
              "id": "60593d38-7f75-4cf5-908e-d027725630ea",
              "name": "table_name",
              "value": "documents_exploitation",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        592
      ],
      "id": "d66f5302-518c-4cfe-a64d-85aa466ea0dd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a16a3b6-b618-46a9-beb9-dc73648b2555",
              "name": "from",
              "value": "transaction",
              "type": "string"
            },
            {
              "id": "05eb2534-6013-4c4b-afc3-022b9ac8f674",
              "name": "table_name",
              "value": "documents_transaction",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        1024
      ],
      "id": "51ac9343-77e9-4b17-bbcd-48405077eb8e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -32,
        2592
      ],
      "id": "7863cf6c-6ca6-4f46-9dd9-46860d95d9d7",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE rag_chat_memory (\n    id          SERIAL PRIMARY KEY,\n    session_id  VARCHAR(255) NOT NULL,\n    message     JSONB\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        2592
      ],
      "id": "89ca2457-3d0e-4254-bb56-986fdf15d6e4",
      "name": "Create Rag Chat Memory",
      "credentials": {
        "postgres": {
          "id": "BMh8QYnE2kGIsz2l",
          "name": "Postgres account data workflows"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE transaction_qonto (\n    id UUID PRIMARY KEY,\n    transaction_id VARCHAR(255),\n    amount DECIMAL(15, 2),\n    amount_cents INTEGER,\n    settled_balance DECIMAL(15, 2),\n    settled_balance_cents INTEGER,\n    attachment_ids TEXT[], -- Tableau PostgreSQL natif pour les IDs d'attachements\n    logo JSONB, -- Objet JSON pour les URLs des logos\n    local_amount DECIMAL(15, 2),\n    local_amount_cents INTEGER,\n    side VARCHAR(50),\n    operation_type VARCHAR(100),\n    currency VARCHAR(10),\n    local_currency VARCHAR(10),\n    label TEXT,\n    settled_at TIMESTAMP WITH TIME ZONE,\n    emitted_at TIMESTAMP WITH TIME ZONE,\n    updated_at TIMESTAMP WITH TIME ZONE,\n    status VARCHAR(50),\n    reference VARCHAR(255),\n    vat_amount DECIMAL(15, 2),\n    vat_amount_cents INTEGER,\n    vat_rate DECIMAL(5, 2),\n    label_ids TEXT[], -- Tableau PostgreSQL natif pour les IDs de labels\n    attachment_lost BOOLEAN,\n    attachment_required BOOLEAN,\n    card_last_digits VARCHAR(10),\n    category VARCHAR(100),\n    cashflow_category JSONB, -- Objet JSON avec propriété \"name\"\n    cashflow_subcategory JSONB, -- Objet JSON avec propriété \"name\"\n    subject_type VARCHAR(100),\n    bank_account_id UUID, -- Changé en UUID car l'exemple montre un UUID\n    is_external_transaction BOOLEAN,\n    clean_counterparty_name VARCHAR(255),\n    initiator_id VARCHAR(255),\n    note TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        2592
      ],
      "id": "04c08280-faf8-44f5-b568-25694862b9b3",
      "name": "Create Transaction Rows Table",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE transaction_rows (\n    id SERIAL PRIMARY KEY,\n    transaction_row_id TEXT REFERENCES document_metadata(id),\n    transaction_row_content JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        208,
        2592
      ],
      "id": "fa4bf3d9-8440-4e38-8c79-0397e1802900",
      "name": "Create Document Transaction Rows Table",
      "credentials": {
        "postgres": {
          "id": "AvFPQ3N7G6VMvsbn",
          "name": "Postgres account common rag"
        }
      }
    },
    {
      "parameters": {
        "content": "## Création des tables/schéma de la DB",
        "height": 300,
        "width": 1112,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        2496
      ],
      "typeVersion": 1,
      "id": "2481387d-f031-4d02-b58c-d0639cce3a15",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Docling_Chunker_Tool'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Docling_Chunker_Tool'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Docling_Chunker_Tool'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Docling_Chunker_Tool'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Docling_Chunker_Tool'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Docling_Chunker_Tool'": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Metadata Table": {
      "main": [
        [
          {
            "node": "Create Document Transaction Rows Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document Transaction Rows Table": {
      "main": [
        [
          {
            "node": "Create Rag Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88740c4a-480b-478b-b3a3-0281f85f17e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cd6765b3c3f04c973045627d34190af5810018612db34e4aca4e846ff5d8581"
  },
  "id": "fmMHxSWgje6wjeDt",
  "tags": []
}